<?xml version="1.0" encoding="UTF-8"?>

<configdata>
    <module>
        <name> Specialists </name>
        <version>2</version>
        <status>1</status>
        <resources>
            <index>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </index>
                <show>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </show>
                <slider>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </slider>
            </index>

            <admin>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </index>
                <delete>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </delete>
                <edit>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit>
                <add>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add>
            </admin>
        </resources>
    </module>
</configdata>
