<?xml version="1.0" encoding="UTF-8"?>

<configdata>
    <module>
        <name>User</name>
        <version>3</version>
        <status>1</status>
        <resources>
            
            <admin>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </index>
                <edit-user>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit-user>
                <remove-user>
                    <administrator>1</administrator>
                    <manager>0</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </remove-user>
            </admin>

            <index>
                <orders>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>0</guest>
                    <active>0</active>
                </orders>
                <view-order>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>0</guest>
                    <active>0</active>
                </view-order>
                <edit-profile>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit-profile>
                <cabinet-menu>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>0</guest>
                    <active>0</active>
                </cabinet-menu>
                <unsubscribe>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </unsubscribe>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>0</guest>
                    <active>0</active>
                </index>
                <edit>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit>
                <panel>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>0</guest>
                    <active>0</active>
                </panel>
                <login>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </login>
                <logout>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </logout>
                <add-address>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>0</guest>
                    <active>0</active>
                </add-address>
                <edit-address>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit-address>
                <remove-address>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>0</guest>
                    <active>0</active>
                </remove-address>
                <vk-auth>
                    <administrator>0</administrator>
                    <manager>0</manager>
                    <user>0</user>
                    <guest>1</guest>
                    <active>0</active>
                </vk-auth>
                <facebook-auth>
                    <administrator>0</administrator>
                    <manager>0</manager>
                    <user>0</user>
                    <guest>1</guest>
                    <active>0</active>
                </facebook-auth>
                <google-auth>
                    <administrator>0</administrator>
                    <manager>0</manager>
                    <user>0</user>
                    <guest>1</guest>
                    <active>0</active>
                </google-auth>
                <yandex-auth>
                    <administrator>0</administrator>
                    <manager>0</manager>
                    <user>0</user>
                    <guest>1</guest>
                    <active>0</active>
                </yandex-auth>
            </index>
            
            <registration>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </index>
                <forget>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </forget>
                <register-success>
                    <administrator>0</administrator>
                    <manager>0</manager>
                    <user>0</user>
                    <guest>1</guest>
                    <active>0</active>
                </register-success>
                <forget-success>
                    <administrator>0</administrator>
                    <manager>0</manager>
                    <user>0</user>
                    <guest>1</guest>
                    <active>0</active>
                </forget-success>
            </registration>
            
        </resources>
    </module>
</configdata>
