<?php $tagsTable = new Blog_Model_Tags;?>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="blog-posts">
                <?php if ($this->paginator->count() > 0) : ?>
                <?php foreach ($this->paginator as $item) : ?>
                    <article class="post post-large">
                        <div class="post-date">
                            <span class="day"><?php echo date('d', strtotime($item['date'])); ?></span>
                            <span class="month"><?php echo $this->translate(date('M', strtotime($item['date']))); ?></span>
                        </div>
                        <div class="post-content">
                            <h2><a href="<?php echo $this->url(['module' => 'blog', 'controller' => 'index', 'action' => 'show', 'alias' => $item['alias']], '/blog/show', true); ?>"><?php echo stripslashes($item['title']); ?></a></h2>
                            <?php echo stripslashes($item['shortDescription']); ?>
                            <div class="post-meta">
                                <?php $tags = $tagsTable->getAllTagsFromArticle($item['id'], false); ?>
                                <?php if(!empty($tags)): ?>
                                <span><i class="fa fa-tag"></i>
                                    <?php for ($i = 0; $i < count($tags); $i++) : ?>
                                        <a href="<?php echo $this->url(array('module' => 'blog', 'controller' => 'index', 'action' => 'show-by-tag', 'tag' => $tags[$i]['id']), '/blog/showtag', true); ?>"> <?php echo $tags[$i]['name']; ?> </a>
                                    <?php endfor; ?>
                                </span>
                                <?php endif; ?>
                                <span><i class="fa fa-comments"></i>
                                    <a href="<?php echo $this->url(['module' => 'blog', 'controller' => 'index', 'action' => 'show', 'alias' => $item['alias']], '/blog/show', true); ?>">
                                    <?php echo $this->textHelper($item['comment_count']); ?></a></span>
                                    <a href="<?php echo $this->url(['module' => 'blog', 'controller' => 'index', 'action' => 'show', 'alias' => $item['alias']], '/blog/show', true); ?>"
                                   class="btn btn-xs btn-primary pull-right"><?php echo $this->translate('blogReadMore'); ?></a>
                            </div>
                        </div>
                    </article>
                <?php endforeach; ?>
                <?php else : ?>
                    <div class="alert alert-info"><?php echo $this->translate('blogArticlesNotFound');?></div>
                <?php endif; ?>
                <?php if ($this->paginator->count() > 0) : ?>
                <?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); ?>
                <?php endif; ?>
            </div>
        </div>
        <div class="col-md-3">
            <?php echo $this->tagsView($this->blogTags, 'blog'); ?>
        </div>
    </div>
</div>