<section class="banner-with-button margin_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col_banner_with_button">
                <h4 class="first">
                    Гостиница Керчь
                </h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col_banner_with_button">
                <h4 class="second">
                    Скидка на номера в гостинице<br />
                    посетителям сауны
                </h4>
                <p>
                    При заказе сауны от 5 часов, посетителям предоставляется<br /> специальная скидка на номера в гостинице "Керчь"
                </p>
                <div class="banner-with-button-btn btn">
                    На сайт гостиницы
                </div>
            </div>
        </div>
    </div>
</section>