<section class=" booking">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Бронирование</h1>
            </div>
        </div>
    </div>
</section>