<div class="container contacts">
    <div class="row">
        <div class="col-lg-12">
            <h1>Контакты</h1>
        </div>
    </div>
    <div class="row contacts_content">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            //= index-map.html
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <ul class="contacts_list">
                <li>
                    Телефон: <img src="img/index-contacts/phone.png" class="icons_contacts"> 8 (3822) 999 666
                </li>
                <li>
                    Почта: <img src="img/index-contacts/email.png" class="icons_contacts"><a href="mailto:hi@itrocks.ru">hi@itrocks.ru</a>
                </li>
                <li>
                    График работы:  <img src="img/index-contacts/clock.png" class="icons_contacts"> ПН-ПТ 9:00 - 18:00
                </li>
                <li>
                    Адрес: <img src="img/index-contacts/map.png" class="icons_contacts">
                </li>
            </ul>
        </div>
    </div>
</div>