<section class="developed-by">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="heart">&hearts;</span> Сайт разработан веб-студией <a href="http://itrocks.ru"
                                                                                       target="_blank">ItRocks</a>
                    2018г.
                </div>
            </div>
        </div>
    </div>
</section>