<section class="full-width-horizontal-slider-with-form">
    <div id="full-width-horizontal-slider">
        <div class="full-width-slider-item">
            <img src="img/full-width-slider.jpg" class="img-responsive" />
        </div>
        <div class="full-width-slider-item">
            <img src="img/full-width-slider.jpg" class="img-responsive" />
        </div>
    </div>
    <div class="slider-horizontal-form">
        <form method="post" id="slider-main-form">
            <div class="elem">
                <input type="text" name="fio" placeholder="ФИО" id="slider-form-fio" required />
                <span class="slider-fio-error"></span>
            </div>
            <div class="elem">
                <input type="text" name="phone" placeholder="Телефон" id="slider-form-phone" required />
                <span class="slider-phone-error"></span>
            </div>
            <div class="elem">
                <button type="submit" class="btn btn-form">Отправить</button>
            </div>
        </form>
    </div>
</section>