<section class="gallery-slider margin_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Фотогалерея</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="gallery-slider">
                    <div class="gallery-slider-item">
                        <img src="img/gallery-slider/slide1.png" class="img-responsive" />
                    </div>
                    <div class="gallery-slider-item">
                        <img src="img/gallery-slider/slide1.png" class="img-responsive" />
                    </div>
                    <div class="gallery-slider-item">
                        <img src="img/gallery-slider/slide1.png" class="img-responsive" />
                    </div>
                    <div class="gallery-slider-item">
                        <img src="img/gallery-slider/slide1.png" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>