<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-8 col-xs-8">
                <div class="header_phone pull-left">
                </div>
                <div class="hidden-xs hidden-sm pull-left">8(923)418-6890</div>
                <a href="tel:89234186890" class="hidden-lg hidden-md mobile_phone pull-left">8(923)418-6890</a>
            </div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                <span class="header_map_marker">
                    Томск (Россия)
                </span>
            </div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                <span class="header_email">
                    <a href="mailto:hi@itrocks.ru">hi@itrocks.ru</a>
                </span>
            </div>
            <div class="col-lg-3 col-md-3 col-lg-offset-3 hidden-sm hidden-xs">
                //= social-buttons.html
            </div>
        </div>
    </div>
</section>