<section class="index-map">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4c75b190c4e7faa181f3ae495b08e732e619d4766d084cb6057719d2fe435c7c&amp;width=100%&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
</section>