<section class="index-contacts-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
                <h1>Контакты</h1>
                <ul class="index-contacts-content-list">
                    <li>
                                <span class="circle">
                                    <span class="address"></span>
                                </span>
                        Железнодорожный пер., 36, Томск
                    </li>
                    <li>
                                <span class="circle">
                                    <span class="phone"></span>
                                </span>
                        8 (382) 220-65-55
                    </li>
                    <li>
                                <span class="circle">
                                    <span class="email"></span>
                                </span>
                        <a href="mailto:hi@itrocks.ru">hi@itrocks.ru</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <p>
                    Вас встретит профессиональный водитель на комфортабельном автомобиле.<br />
                    <span>Это наиболее простой способ добраться<br />
                        до нашей гостиницы</span>
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">

                    </div>
                    <div class="col-lg-6 col-md-6" style="text-align: right">
                        <div class="index-contacts-content-btn btn">
                            заказать трансфер
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
