
<section class="our-service-items margin_section">
    <div class="container our-service-header">
        <div class="row">
            <div class="col-lg-12">
                <h1>Наш сервис</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="our-service-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4">
                            <div class="icon">
                                <img src="img/our-service-icons/parking.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-9 col-xs-8">
                            <div class="title">
                                Парковка
                            </div>
                            <div class="description">
                                Парковка на территории отеля только для посетителей сауны
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="our-service-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4">
                            <div class="icon">
                                <img src="img/our-service-icons/bar.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-9 col-xs-8">
                            <div class="title">
                                Бар
                            </div>
                            <div class="description">
                                Расположен на стойке администратора
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="our-service-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4">
                            <div class="icon">
                                <img src="img/our-service-icons/transfer.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-9 col-xs-8">
                            <div class="title">
                                Трансфер
                            </div>
                            <div class="description">
                                Заказ такси по городу, в аэропорт и на ж/д вокзал
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="our-service-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4">
                            <div class="icon">
                                <img src="img/our-service-icons/card.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-9 col-xs-8">
                            <div class="title">
                                Расчет картой
                            </div>
                            <div class="description">
                                Возможен безналичный расчет
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="our-service-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4">
                            <div class="icon">
                                <img src="img/our-service-icons/restauraunt_transfer.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-9 col-xs-8">
                            <div class="title">
                                доставка в ресторан
                            </div>
                            <div class="description">
                                Бесплатно в рестораны "Купеческий дом" и "Здесь вам не там"
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="our-service-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4">
                            <div class="icon">
                                <img src="img/our-service-icons/wifi.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-9 col-xs-8">
                            <div class="title">
                                Wi-Fi
                            </div>
                            <div class="description">
                                Бесплатный на всей территории сауны
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>