<section class="room-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="blue">Название номера</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <ul id="room-page-vertical-slider">
                    <li data-thumb="img/rooms-photo/room-big.png">
                        <img src="img/rooms-photo/room-big.png" />
                    </li>
                    <li data-thumb="img/rooms-photo/room-big.png">
                        <img src="img/rooms-photo/room-big.png" />
                    </li>
                    <li data-thumb="img/rooms-photo/room-big.png">
                        <img src="img/rooms-photo/room-big.png" />
                    </li>
                </ul>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="room-page-item">
                    <div class="description">
                        Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum
                    </div>
                    <div class="price">
                        <label>Цена за сутки</label>
                        <span>8.000 <span>руб</span></span>
                    </div>
                    <div class="price">
                        <label>Цена за час</label>
                        <span>8.000 <span>руб</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Предлогаемые удобства и возможности </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="room-page-services">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <span class="swimming_pool green"></span>Бассеин
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <span class="shower blue"></span>Душ
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <span class="karaoke green"></span>Караоке
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <span class="massage_chair green"></span>Массажное кресло
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <span class="rest_room red"></span>Комната отдыха
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <span class="towels green"></span>Чистое постельное белье
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a href="#" class="btn room-page-booking-btn green" data-id="1">
                        Забронировать
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>