<section class="room-numbers margin_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Залы</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="room_item">
                    <div class="image">
                        <a href="room_page.html">
                            <img src="img/rooms/red_hall.jpg" class="img-responsive" />
                            <span>
                            <div class="person">
                                <img src="img/person.png" /> 1
                            </div>
                            <div class="description">
                                краткое описание
                                (видно при наведении на фотографию)
                            </div>
                            <ul class="room-services">
                                <li class="swimming_pool">Басеин</li>
                                <li class="shower">Душ</li>
                                <li class="towel">Чистое белье</li>
                                <li class="jacusi">Джакузи</li>
                                <li class="karaoke">Караоке</li>
                                <li class="massage_chair">Массажное кресло</li>
                            </ul>
                        </span>
                        </a>
                    </div>
                    <div class="title">
                        <a href="#">
                            Название номера
                        </a>
                    </div>
                    <div class="price">
                        <div class="row">
                            <div class="col-lg-8 col-sm-6 col-xs-6">
                                цена за сутки
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                8.000 <span>руб</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="room_item">
                    <div class="image">
                        <a href="room_page.html">
                            <img src="img/rooms/blue_hall.jpg" class="img-responsive" />
                            <span>
                            <div class="person">
                                <img src="img/person.png" /> 1
                            </div>
                            <div class="description">
                                краткое описание
                                (видно при наведении на фотографию)
                            </div>
                            <ul class="room-services">
                                <li class="bed">Двухместная кровать</li>
                                <li class="shower">Душ</li>
                                <li class="wifi">Wi-Fi</li>
                                <li class="jacusi">Джакузи</li>
                                <li class="fridge">Холодильник</li>
                                <li class="fireplace">Камин</li>
                            </ul>
                        </span>
                        </a>
                    </div>
                    <div class="title">
                        <a href="#">
                            Название номера
                        </a>
                    </div>
                    <div class="price">
                        <div class="row">
                            <div class="col-lg-8 col-sm-6 col-xs-6">
                                цена за сутки
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                8.000 <span>руб</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="room_item">
                    <div class="image">
                        <a href="room_page.html">
                            <img src="img/rooms/green_hall.jpg" class="img-responsive" />
                            <span>
                            <div class="person">
                                <img src="img/person.png" /> 1
                            </div>
                            <div class="description">
                                краткое описание
                                (видно при наведении на фотографию)
                            </div>
                            <ul class="room-services">
                                <li class="bed">Двухместная кровать</li>
                                <li class="shower">Душ</li>
                                <li class="wifi">Wi-Fi</li>
                                <li class="jacusi">Джакузи</li>
                                <li class="fridge">Холодильник</li>
                                <li class="fireplace">Камин</li>
                            </ul>
                        </span>
                        </a>
                    </div>
                    <div class="title">
                        <a href="#">
                            Название номера
                        </a>
                    </div>
                    <div class="price">
                        <div class="row">
                            <div class="col-lg-8 col-sm-6 col-xs-6">
                                цена за сутки
                            </div>
                            <div class="col-lg-4 col-sm-6 col-xs-6">
                                8.000 <span>руб</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>