<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Наш сервис</h1>
            </div>
        </div>
    </div>
</section>
<section class="service_page_block_big">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <div class="service_page_block row">
                            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                                <div class="icon">
                                    <img src="img/our-service-icons/parking.png" class="img-responsive"/>
                                </div>
                            </div>
                            <div class="block_text_service col-md-9 col-sm-9 col-xs-12 col-lg-9">
                                <div class="title">
                                    Парковка
                                </div>
                                <div class="text_items">
                                    Его популяризации в новое время послужили публикация листов Letraset
                                    c образцами Lorem Ipsum в 60-х годах
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <div class="service_page_block row">
                            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                                <div class="icon">
                                    <img src="img/our-service-icons/food.png" class="img-responsive"/>
                                </div>
                            </div>
                            <div class="block_text_service col-md-9 col-sm-9 col-xs-12 col-lg-9">
                                <div class="title">
                                    Еда и напитки
                                </div>
                                <div class="text_items">
                                    Его популяризации в новое время послужили публикация листов Letraset
                                    c образцами Lorem Ipsum в 60-х годах
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <div class="service_page_block row">
                            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                                <div class="icon">
                                    <img src="img/our-service-icons/transfer.png" class="img-responsive"/>
                                </div>
                            </div>
                            <div class="block_text_service col-md-9 col-sm-9 col-xs-12 col-lg-9">
                                <div class="title">
                                    Трансфер
                                </div>
                                <div class="text_items">
                                    Его популяризации в новое время послужили публикация листов Letraset
                                    c образцами Lorem Ipsum в 60-х годах
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <img src="img/rooms/blue_hall.jpg" class="img-responsive img_service_page">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <img src="img/rooms/blue_hall.jpg" class="img-responsive img_service_page">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <div class="service_page_block row">
                            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                                <div class="icon">
                                    <img src="img/our-service-icons/wifi.png" class="img-responsive"/>
                                </div>
                            </div>
                            <div class="block_text_service col-md-9 col-sm-9 col-xs-12 col-lg-9">
                                <div class="title">
                                    Парковка
                                </div>
                                <div class="text_items">
                                    Его популяризации в новое время послужили публикация листов Letraset
                                    c образцами Lorem Ipsum в 60-х годах
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <div class="service_page_block row">
                            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                                <div class="icon">
                                    <img src="img/our-service-icons/card.png" class="img-responsive"/>
                                </div>
                            </div>
                            <div class="block_text_service col-md-9 col-sm-9 col-xs-12 col-lg-9">
                                <div class="title">
                                    Еда и напитки
                                </div>
                                <div class="text_items">
                                    Его популяризации в новое время послужили публикация листов Letraset
                                    c образцами Lorem Ipsum в 60-х годах
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                        <div class="service_page_block row">
                            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                                <div class="icon">
                                    <img src="img/our-service-icons/sauna.png" class="img-responsive"/>
                                </div>
                            </div>
                            <div class="block_text_service col-md-9 col-sm-9 col-xs-12 col-lg-9">
                                <div class="title">
                                    Трансфер
                                </div>
                                <div class="text_items">
                                    Его популяризации в новое время послужили публикация листов Letraset
                                    c образцами Lorem Ipsum в 60-х годах
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>