<section class="static-block-with-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    Скидки на услуги сауны<br />
                    <span>1001ночь посетителям Отеля</span>
                </h4>
                <a href="#" class="static-block-with-bg-button btn">
                    перейти на сайт
                </a>
            </div>
        </div>
    </div>
</section>