<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img src="img/small_logo.png" class="img-responsive" />
            </a>
        </div>

        <div class="collapse navbar-collapse" id="top-menu-nav">
            <ul class="nav navbar-nav ">
                <li class="active"><a href="rooms.html">номера</a></li>
                <li><a href="services.html">услуги</a></li>
                <li><a href="contacts.html">контакты</a></li>
                <li><a href="about.html">о нас </a></li>
                <li><a href="booking.html">бронирование</a></li>
            </ul>
        </div>
    </div>
</nav>
