<!-- Page header -->
<div class="page-header">
    <div class="page-title">
        <h5><?php echo $this->translate('portfolioCatalogAdd'); ?></h5>
        <span></span>    
    </div>
</div>
<!-- /page header -->
<!-- Page form -->
<div class="widget row-fluid">
    <div class="well">
      <?php echo $this->form; ?>
    </div>
</div>
<!-- /Page form -->
