<?xml version="1.0" encoding="UTF-8"?>

<configdata>
    <module>
        <name>Admin</name>
        <version>11</version>
        <status>1</status>
        <resources>
            <index>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </index>
                <tags>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </tags>
                <edit-tag>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit-tag>
                <settings>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </settings>
                <analytics>
                    <administrator>1</administrator>
                    <manager>0</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </analytics>
            </index>
            <mail>
                <settings>
                    <administrator>1</administrator>
                    <manager>0</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </settings>
                <send>
                    <administrator>1</administrator>
                    <manager>0</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </send>
                <check-email-connection>
                    <administrator>1</administrator>
                    <manager>0</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </check-email-connection>
            </mail>

        </resources>
    </module>
</configdata>