
<?php if (isset($this->description['description']) && !empty($this->description['description'])) : ?>
    <?php echo $this->description['description'];?>
    <hr />
<?php endif;?>


<ul class="services-categories">
    <?php foreach ($this->categories as $category) : ?>
        <li>
            <a href="<?php echo $this->url(array('alias' => $category['alias']), '/services');?>">
                <?php echo $category['title']; echo "lol";?>
            </a>
        </li>
    <?php endforeach;?>
</ul>


