<?php $className = 'red';
    switch ($this->room->id) {
        case 1:
            $className = 'red';
            break;
        case 2:
            $className = 'blue';
            break;
        case 3:
            $className = 'green';
        break;
    }
?>
<section class="room-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="<?php echo $className; ?>"><?php echo $this->room->title;?></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <ul id="room-page-vertical-slider">
                    <li data-thumb="<?php echo $this->baseUrl() .'/' . $this->hotelRoomImage($this->room['photo']); ?>">
                        <img src="<?php echo $this->baseUrl() .'/' . $this->hotelRoomImage($this->room['photo']); ?>" class="img-responsive" />
                    </li>
                    <?php foreach ($this->photos as $photo) { ?>
                        <li data-thumb="<?php echo $this->baseUrl() .'/' . $this->hotelRoomImage($photo['photo']); ?>">
                            <img src="<?php echo $this->baseUrl() .'/' . $this->hotelRoomImage($photo['photo']); ?>" class="img-responsive" />
                        </li>
                    <?php } ?>
                </ul>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="room-page-item">
                    <div class="description">
                        <?php echo $this->room->description;?>
                    </div>
                    <div class="price">
                        <label>Цена за час</label>
                        <span><?php echo $this->room->pricePerDay;?> <span>руб</span></span>
                    </div>
                    <div class="price">
                        <label>Цена за час Пт-Вс</label>
                        <span><?php echo $this->room->pricePerHour;?> <span>руб</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Предлогаемые удобства и возможности </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="room-page-services">
                    <div class="row">
                        <?php if ($this->room->bed == 1) { ?>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <span class="swimming_pool <?php echo $className; ?>"></span>Бассеин
                            </div>
                        <?php } ?>
                        <?php if ($this->room->wifi == 1) { ?>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <span class="massage_chair <?php echo $className; ?>"></span>Массажное кресло
                            </div>
                        <?php } ?>
                        <?php if ($this->room->fridge == 1) { ?>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <span class="karaoke <?php echo $className; ?>"></span>Караоке
                            </div>
                        <?php } ?>
                        <?php if ($this->room->shower == 1) { ?>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <span class="shower <?php echo $className; ?>"></span>Душ
                            </div>
                        <?php } ?>
                        <?php if ($this->room->jacuzzi == 1) { ?>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <span class="jacusi <?php echo $className; ?>"></span>Джакузи
                            </div>
                        <?php } ?>
                        <?php if ($this->room->fireplace == 1) { ?>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <span class="towels <?php echo $className; ?>"></span>Чистое постельное белье
                            </div>
                        <?php } ?>
                        <?php if ($this->room->satTv == 1) { ?>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <span class="rest_room <?php echo $className; ?>"></span>1 Комната отдыха
                            </div>
                        <?php } ?>
                        <?php if ($this->room->electrofireplace == 1) { ?>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <span class="rest_room <?php echo $className; ?>"></span>2 Комнаты отдыха
                            </div>
                        <?php } ?>
                        <?php if ($this->room->sauna == 1) { ?>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <span class="pool <?php echo $className; ?>"></span>Бильярд
                            </div>
                        <?php } ?>

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <a href="#" class="btn room-page-booking-btn <?php echo $className; ?>" data-id="<?php echo $this->room->id;?>">
                        Забронировать
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-service-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Наш сервис</h1>
            </div>
        </div>
    </div>
</section>
<section class="our-service-items">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12">
                <div class="our-service-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-6 col-xs-4">
                            <div class="icon">
                                <img src="<?php echo $this->baseUrl();?>/img/our-service-icons/parking.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-6 col-xs-8">
                            <div class="title">
                                Парковка
                            </div>
                            <div class="description">
                                Парковка на территории отеля только для посетителей сауны
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12">
                <div class="our-service-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-6 col-xs-4">
                            <div class="icon">
                                <img src="<?php echo $this->baseUrl();?>/img/our-service-icons/bar.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-6 col-xs-8">
                            <div class="title">
                                Бар
                            </div>
                            <div class="description">
                                Расположен на стойке администратора
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12">
                <div class="our-service-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-6 col-xs-4">
                            <div class="icon">
                                <img src="<?php echo $this->baseUrl();?>/img/our-service-icons/transfer.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-6 col-xs-8">
                            <div class="title">
                                Трансфер
                            </div>
                            <div class="description">
                                Заказ такси по городу, в аэропорт и на ж/д вокзал
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12">
                <div class="our-service-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-6 col-xs-4">
                            <div class="icon">
                                <img src="<?php echo $this->baseUrl();?>/img/our-service-icons/card.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-6 col-xs-8">
                            <div class="title">
                                Расчет картой
                            </div>
                            <div class="description">
                                Возможен безналичный расчет
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12">
                <div class="our-service-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-6 col-xs-4">
                            <div class="icon">
                                <img src="<?php echo $this->baseUrl();?>/img/our-service-icons/restauraunt_transfer.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-6 col-xs-8">
                            <div class="title">
                                доставка в ресторан
                            </div>
                            <div class="description">
                                Бесплатно в рестораны "Купеческий дом" и "Здесь вам не там"
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12">
                <div class="our-service-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-2 col-sm-6 col-xs-4">
                            <div class="icon">
                                <img src="<?php echo $this->baseUrl();?>/img/our-service-icons/wifi.png" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-10 col-sm-6 col-xs-8">
                            <div class="title">
                                Wi-Fi
                            </div>
                            <div class="description">
                                Бесплатный на всей территории сауны
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<?php echo $this->action('contacts-block', 'index', 'default');?>