<div class="container contacts">
    <div class="row">
        <div class="col-lg-12">
            <h1><?php echo $this->page['title']; ?></h1>
        </div>
    </div>
    <div class="row contacts_content">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4c75b190c4e7faa181f3ae495b08e732e619d4766d084cb6057719d2fe435c7c&amp;width=100%&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <ul class="contacts_list">
                <li>
                    Телефон: <img src="<?php echo $this->baseUrl();?>/img/index-contacts/phone.png" class="icons_contacts"><?php echo $this->data['phone']; ?>
                </li>
                <li>
                    Почта: <img src="<?php echo $this->baseUrl();?>/img/index-contacts/email.png" class="icons_contacts"><a href="mailto:<?php echo $this->data['email']; ?>"><?php echo $this->data['email']; ?></a>
                </li>
                <li>
                    График работы: <img src="<?php echo $this->baseUrl();?>/img/index-contacts/clock.png" class="icons_contacts"> ПН-ПТ 9:00 - 18:00
                </li>
                <li>
                    Адрес: <img src="<?php echo $this->baseUrl();?>/img/index-contacts/map.png" class="icons_contacts"><?php echo $this->data['address']; ?>
                </li>
            </ul>
        </div>
    </div>
</div>
<div style="padding-bottom: 300px; height: 300px;">
    <br />
</div>
