<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><?php echo $this->page['title']; ?></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <?php echo $this->page['content']; ?>
            </div>
        </div>
    </div>
    <div class="container container_pages">
        <div class="row row_about">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="<?php echo $this->baseUrl()?>/img/rooms/red_hall.jpg" class=" img_about img-responsive"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="block_text_about">
                    <div class="block_content">
                        <p class="title_pages_min">почему он используется откуда он появился</p>
                        <p class="text_pages">
                            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                            некторых
                            людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum,
                            текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый
                            колорит советских времен.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row_about">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="block_text_about">
                    <div class="block_content">
                        <p class="title_pages_min">откуда он появился</p>
                        <p class="text_pages">
                            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                            некторых
                            людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum,
                            текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый
                            колорит
                            советских времен.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="<?php echo $this->baseUrl()?>/img/rooms/red_hall.jpg" class="img_about img-responsive"/>
            </div>
        </div>
        <div class="row row_about">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="<?php echo $this->baseUrl()?>/img/rooms/red_hall.jpg" class="img_about img-responsive"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="block_text_about">
                    <div class="block_content">
                        <p class="title_pages_min">почему он используется</p>
                        <p class="text_pages">
                            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                            некторых
                            людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum,
                            текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый
                            колорит
                            советских времен.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
