<?php if (count($this->items) > 0 ) { ?>
    <section class="reviews-slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Отзывы</h1>
                </div>
            </div>
            <div class="row">
                <div id="reviews-slider">
                    <?php foreach ($this->items as $item) { ?>
                        <div class="reviews-slider-item">
                            <div>
                                <div class="number">
                                    <?php echo $item['mark'];?>
                                </div>
                            </div>
                            <div>
                                <div class="title"><?php echo $item['title'];?></div>
                                <div class="review">
                                    <?php echo $item['answer'];?>
                                </div>
                                <div class="date">
                                    <?php echo date('d.m.Y', strtotime($item['reviewDate']));?>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                </div>
            </div>
        </div>
    </section>
<?php } ?>