<div class="alert alert-success">
  <?php echo $this->translate('reviewAddSuccess');?>
</div>
<p>
  <a href="<?php echo $this->url(array(), '/reviews');?>"><?php echo $this->translate('backToReviews');?></a>
</p>
