* {
  font-family: 'Open Sans', sans-serif;
}


@banner-with-button-h4-color: #ffffff;
@banner-with-button-h4-bg: #646189;
@header4-color-span: #52473c;
@banner-with-buttons-text-color: #f47c00;
@button-text-color: #ffffff;



@contacts-header1-color: #000000;
@contacts-list-color: #000000;

@header1-bg: #c2a86a;
@external-booking-bg: #f3edde;

@footer-bg: #393333;
@footer-header-color: #c2a86a;
@footer-header-font-size: 16px;
@footer-color: #ffffff;

@developed-by-bg: #282323;
@developed-by-color: #ffffff;
@developed-by-heart: #665581;



@slider-dots-bg: #c2a86a;
@slider-form-bg: #ebeaea;
@slider-form-header-color: #ffffff;
@slider-form-border-color: #c2a86a;
@slider-form-color: #c2a86a;
@slider-form-button-bg: #1b2c1d;
@slider-form-button-color: #ffffff;

@gallery-slider-h1-color: #000000;
@gallery-slider-bg: #ffffff;


@image-hover-text-color: #ffffff;


//parameters

// usual_parametrs
@colorTitleH1: #000000;
@button-text-color: #ffffff;
@corlorTitle: #444444;
@colorText: #636363;
//header
@header-bg: #3d4073;
@header-height: 50px;
@header-color: #ffffff;
@header-font-size: 14px;
// slider header
@full-width-horizontal-slider-form-bg: #3d4073;
@full-width-horizontal-slider-form-input-color: #3d4073;
@full-width-horizontal-slider-form-button-bg: #f47c00;
@full-width-horizontal-slider-form-button-color: #ffffff;
@full-width-horizontal-slider-form-button-bg-hover: #d26900;
@full-width-horizontal-slider-form-button-bg: #f47c00;
@full-width-horizontal-slider-form-button-bg-hover: #d26900;
// rooms_number
@room-number-title-color: #000000;
@room-numbers-text-color: #000000;
// services
@our-service-header-bg: #f8f8f8;
@our-service-header-color: #000000;
@our-service-item-bg: #67648b;
@our-service-item-header-color: #ffffff;
@our-service-item-description-color: #ffffff;
// reviews
@reviews-slider-header-color: #000000;
@reviews-slider-item-number-color: #512d8d;
@reviews-slider-item-review-bg: #f8f8f8;
@reviews-slider-item-title-color: #000000;
@reviews-slider-item-review-color: #000000;
@reviews-slider-item-date-color: #000000;
// bottom contacts
@index-contacts-header1-bg: #ffffff;
@index-contacts-button-color: #ffffff;
@index-contacts-button-bg: rgba(235, 131, 23, 255);
@index-contacts-list-circle-bg: #bfa9e3;
@index-contacts-list-text-color: #ffffff;
@index-contacts-p-color: rgba(235, 131, 23, 255);
// room_page
@room-page-header1-color: #000000;
@room-page-title-color: #3d4073;
@room-page-description-color:#000000;
@room-page-price-color: #000000;
@room-page-header4-color:#000000;
@room-page-services-color: #000000;
@room-page-btn-booking-bg: #ffffff;
@room-page-btn-booking-color: #000000;
@room-page-btn-booking-border-color:#3d4073;
@room-page-btn-all-numbers-bg: #3d4073;
@room-page-text-color-green: rgba(6, 110, 42, 255);
@room-page-text-color-blue: rgba(36, 92, 138, 255);
@room-page-text-color-red: rgba(201, 40, 46, 255);
//room list
@rooms-header1-color: #000000;
@room-list-title-color: #3d4073;
@room-list-description-color: #000000;
@room-list-btn-room-bg: #3d4073;
@room-list-btn-room-color: #ffffff;
@room-list-btn-booking-bg: #ffffff;
@room-list-btn-booking-color: #000000;
@room-list-btn-booking-border-color:#3d4073;
@room-list-active-marker-bg: #ffffff;
@room-list-active-marker-border-color:#e5d4b3;
// modal
@booking-modal-header-color: #52473c;
@booking-modal-form-bg: #ebeaea;
@booking-modal-form-element-border-color: #c2a86a;
@booking-modal-form-element-color: #c2a86a;
@booking-modal-form-element-button-bg: #1b2c1d;
@booking-modal-form-element-button-color: #ffffff;
//services

//parameters

@static-block-with-bg-h4-color: #ffffff;
@static-block-button-bg: #f3edde;
@static-block-button-color: #000000;

@top-menu-bg: #ffffff;
@top-menu-color:  rgba(72, 68, 116, 255);



@import "partials/common.less";
@import "partials/header.less";
@import "partials/top-menu.less";
@import "partials/full-width-slider.less";
@import "partials/full-width-horizontal-slider-with-form.less";
@import "partials/room-numbers.less";
@import "partials/external-booking.less";
@import "partials/our-service.less";
@import "partials/gallery-slider.less";
@import "partials/banner-with-button.less";
@import "partials/reviews-slider.less";
@import "partials/static-block-with-bg.less";
@import "partials/index-contacts.less";
@import "partials/contacts.less";
@import "partials/service.less";


@import "partials/rooms.less";
@import "partials/room-page.less";
@import "partials/about.less";
@import "partials/booking-modal.less";

@import "partials/footer.less";

.margin_section{
  margin: 30px auto;
}
h1{
  text-align: center;
  margin-bottom:20px;
}