<?xml version="1.0" encoding="UTF-8"?>

<configdata>
    <module>
        <name> HotelRooms </name>
        <version>1</version>
        <status>1</status>
        <resources>
            <index>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </index>
                <show>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>1</active>
                </show>
                <widget>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </widget>
                <modal-window>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </modal-window>
                <categories-ajax>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </categories-ajax>
                <ajax-request>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </ajax-request>
                <success-request>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>1</user>
                    <guest>1</guest>
                    <active>0</active>
                </success-request>
            </index>

            <admin>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </index>
                <delete>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </delete>
                <edit>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit>
                <add>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add>
            </admin>

            <admin-room>
                <index>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </index>
                <add>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add>
                <edit>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit>
                <delete>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </delete>
                <photos>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </photos>
                <add-photo>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add-photo>
                <edit-photo>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit-photo>
                <delete-photo>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </delete-photo>
                <properties>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </properties>
                <add-property>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </add-property>
                <edit-property>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </edit-property>
                <delete-property>
                    <administrator>1</administrator>
                    <manager>1</manager>
                    <user>0</user>
                    <guest>0</guest>
                    <active>0</active>
                </delete-property>
            </admin-room>
        </resources>
    </module>
</configdata>
