

.about h1 {
  text-align: center;
  color: @colorTitleH1;
}



.about {
  .row_about {
    .img_about {
      max-height: 350px;
      margin: 0 auto;
    }
    .block_text_about {
      width: 100%;
      height: 350px;
      justify-content: center;
      display: table;
      .block_content {
        display: table-cell;
        vertical-align: middle;
        .text_pages {
          font-size: 17px;
          color: @colorText;
          line-height: 30px;
        }
        .title_pages_min {
          font-size: 20px;
          text-transform: uppercase;
          color: @header-bg;
          font-weight: 600;
          margin-bottom: 30px;
        }
      }
    }
  }
}
.container_pages{
  margin: 40px auto 0;
}
@media(max-width: 767px){
  .about .row_about .img_about{
    margin: 0 auto 30px;
    float:none;
    max-width:90%;

  }
  .about .row_about .block_text_about{
    height: auto;
    display: block;
    margin: 0px auto 30px;
  }
}
