


.banner-with-button {
  background: url("../img/banner-with-button/bg.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  overflow: hidden;
}


.banner-with-button h4 {
  padding: 20px 40px;
  color: @banner-with-button-h4-color;
  background: @banner-with-button-h4-bg;
  font-size: 33px;
  text-transform: uppercase;
  border-radius: 20px;
  text-shadow: 3px 3px 10px #000000;
}
.banner-with-button h4.first {
  position: relative;
  top: 200px;
  left: -30px;
  width: 80%;
  padding-left: 40%;
}
.banner-with-button h4.second {
  top: 20px;
  position: relative;
  right: -30px;
  text-align: right;
  padding-right: 30%;
}
.banner-with-button h4 > span {
  color: @header4-color-span;
}
.banner-with-button p {
  color: @banner-with-buttons-text-color;
  font-size: 16px;
  padding-top: 20px;
  text-align: right;
  padding-right: 20%;
}
.banner-with-button .banner-with-button-btn {
  background: @full-width-horizontal-slider-form-button-bg;
  text-transform: uppercase;
  color: @button-text-color;
  font-size: 18px;
  padding: 10px 60px;
  margin: 20px 0;
  border-radius: 10px;
  position: relative;
  right: -40%;
}
.banner-with-button .banner-with-button-btn:hover{
  color: @button-text-color;
  background: @full-width-horizontal-slider-form-button-bg-hover;
}
@media (max-width: 1366px) {
  .banner-with-button h4.first{
    top: 180px;
  }
  .banner-with-button h4 {
    font-size: 22px;
  }
}
@media(max-width: 1199px){
  .banner-with-button p{
    padding-right: 5%;
  }
  .banner-with-button h4.first,.banner-with-button h4.second, .banner-with-button p{
    position: unset;
    width: 100%;
    border-radius: unset;
    padding: 10px 15px;
    text-align: center;
  }
  .banner-with-button .banner-with-button-btn{
    display: block;
    margin: 20px auto;
    max-width: 300px;
    position: unset;
  }
}
@media(max-width: 991px){
  .col_banner_with_button{
    margin: 30px auto;
  }
}
@media (max-width: 740px) {
  .banner-with-button h4.first {
    display: none;
  }
  .index-contacts-content p{
    text-align: center !important;
  }
  .index-contacts-content-btn{
    display: block !important;
    margin: 20px auto;
    max-width: 300px;
  }
}
@media (max-width: 480px) {

}
@media (max-width: 376px) {

}
@media (max-width: 320px) {

}