/** Social buttons **/
ul.social-buttons {
  list-style: none;
  padding: 0;
}
ul.social-buttons > li {
  display: inline-block;
}
ul.social-buttons > li > a {
  display: block;
}
ul.social-buttons > li > a.vk {
  background: url("../img/vk.png") no-repeat;
  height: 30px;
  width: 31px;
}
ul.social-buttons > li > a.fb {
  background: url("../img/fb.png") no-repeat;
  height: 30px;
  width: 31px;
}
ul.social-buttons > li > a.tw {
  background: url("../img/tw.png") no-repeat;
  height: 30px;
  width: 31px;
}
ul.social-buttons > li > a.insta {
  background: url("../img/instagram.png") no-repeat;
  height: 30px;
  width: 31px;
}
/** End social buttons **/