

.contacts h1 {
  text-align: center;
  color: @contacts-header1-color;
}
.contacts .header_decorator {
  margin-bottom: 40px;
}
.contacts_content {
  margin-bottom: 40px;
}
.icons_contacts{
  display: inline-block;
  float: left;
  margin-right: 15px;
  max-width: 18px;
}
ul.contacts_list {
  list-style: none;
  padding-left: 0;
}
ul.contacts_list > li {
  display: block;
  color: @contacts-list-color;
  padding-bottom: 20px;
}
ul.contacts_list > li > a {
  text-decoration: none;
  color: @contacts-list-color;
}
ul.contacts_list > li > a:hover {
  text-decoration: underline;
}
ul.contacts_list > li > span {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  position: relative;
  top: 10px;
}
ul.contacts_list > li > span.phone {
  background: url("../img/phone.png") no-repeat center;
}
ul.contacts_list > li > span.email {
  background: url("../img/email.png") no-repeat center;
}
ul.contacts_list > li > span.address {
  background: url("../img/map_marker.png") no-repeat center;
}
ul.contacts_list > li > span.work_time {
  background: url("../img/work_time.png") no-repeat center;
}