


.footer {
  background: @footer-bg;
  color: @footer-color;
}
.footer a {
  color: @footer-color;
}
.footer h4 {
  color: @footer-header-color;
  font-size: @footer-header-font-size;
  text-transform: uppercase;
  padding-top: 20px;
  font-weight: bold;
}
.footer_logo {
  display: block;
  margin: 20px auto;
}
.footer_logo > img {
  margin: 0 auto;
}
.footer_icon_list {
  list-style: none;
  padding: 0;
}
.footer_icon_list > li > span.address {
  background: url("../img/footer_address.png") no-repeat;
  height: 12px;
  padding-right: 20px;
}
.footer_icon_list > li > span.phone {
  background: url("../img/footer_phone.png") no-repeat;
  height: 12px;
  padding-left: 20px;
}
.footer_icon_list > li > span.email {
  position: relative;
  background: url("../img/footer_email.png") no-repeat;
  height: 20px;
  padding-right: 20px;
  top: 3px;
}
.footer_menu_list {
  list-style: none;
  padding-left: 0;
}
.footer_menu_list > li {
  display: inline-block;
  color: @footer-header-color;
  width: 49%;
}
.footer_menu_list > li:before {
  content: "• ";
  font-size: 16px;
}
.developed-by {
  background: @developed-by-bg;
  text-align: center;
  color: @developed-by-color;
  padding: 5px;
}
.developed-by .heart {
  color: @developed-by-heart;
}
.developed-by a {
  color: @developed-by-color;
  text-decoration: underline;
}
@media (max-width: 480px) {
  .footer_menu_list > li:before {
    content: "";
    font-size: 14px;
  }
}