

#full-width-horizontal-slider {
  margin-bottom: 0;
}
#full-width-horizontal-slider > .slick-dots > li {
  background: transparent;
}
#full-width-horizontal-slider > .slick-dots li button {
  border: 1px solid #ffffff;
  background: #ffffff;
}
#full-width-horizontal-slider > .slick-dots li.slick-active button {
  background: transparent;
}
.slider-horizontal-form {
  background: @full-width-horizontal-slider-form-bg;
  margin-bottom: 20px;
  margin-top: -5px;
}
.slider-horizontal-form > form {
  text-align: center;
}
.slider-horizontal-form > form > div {
  display: inline-block;
  margin: 15px 5px 10px;
}
.slider-horizontal-form > form > div > input {
  border-radius: 5px;
  background: #ffffff;
  border: 0;
  padding: 10px 15px;
  color: @full-width-horizontal-slider-form-input-color;
  font-size: 14px;
}
.slider-horizontal-form > form > div > button {
  padding: 9px 40px;
  color: @full-width-horizontal-slider-form-button-color;
  background: @full-width-horizontal-slider-form-button-bg;
  text-transform: uppercase;
  position: relative;
  top: -2px;
}
.slider-horizontal-form > form > div > button:hover{
  color: @full-width-horizontal-slider-form-button-color;
  background: @full-width-horizontal-slider-form-button-bg-hover;
}
@media(max-width: 767px){
  .slider-horizontal-form > form > div {
    display: block;
    margin: 0 auto 10px;
  }
  .slider-horizontal-form > form > div > input{
    width: 90%;
  }
  .room-numbers h1, .slider-form>form>div, .slider-horizontal-form>form{
    padding: 30px 0 5px;
  }
  .slider-horizontal-form > form > div > button {
    width: 90%;
  }
}