

.slick-next, .slick-prev {
  z-index: 1000;
}
.slick-prev {
  background: url("../img/slider-left.png") no-repeat;
  left: 25px;
  height: 30px;
}
.slick-next {
  background: url("../img/slider-right.png") no-repeat;
  right: 25px;
  height: 30px;
}
.slick-prev:focus, .slick-prev:hover {
  background: url("../img/slider-left.png") no-repeat;
}
.slick-next:focus, .slick-next:hover {
  background: url("../img/slider-right.png") no-repeat;
}
.slick-prev::before {
  content: "";

}
.slick-next::before {
  content: "";
}
.slick-dots {
  bottom: 15px;
}
.slick-dots li button::before {
  content: "";
  font-size: 20px;
}
.slick-dots li, .slick-dots li button {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background: @slider-dots-bg;
}
.slick-dots li, .slick-dots li.slick-active button {
  background: #ffffff;
}

.slider-form {
  background: @slider-form-bg;
  width: 428px;
  height: 307px;
  position: absolute;
  top: 150px;
  right: 10%;
}
.slider_form_header {
  text-align: center;
  color: @slider-form-header-color;
  background: url("../img/slider_header_bg.png") no-repeat;
  background-size: cover;
  font-size: 27px;
  padding: 0px 1px;
  height: 96px;
}
.slider-form > form {
  padding-top: 20px;
}
.slider-form > form > div {
  text-align: center;
}
.slider-form > form > div > input {
  border: none;
  border-bottom: 1px solid @slider-form-border-color;
  width: 90%;
  background: @slider-form-bg;
  padding: 5px;
  margin: 15px auto;
  color: @slider-form-color;
}
.slider-form > form > div > button {
  background: @slider-form-button-bg;
  border: 1px solid @slider-form-border-color;
  color: @slider-form-button-color;
  border-radius: 0;
  text-transform: uppercase;
  padding: 5px 60px;
  font-size: 15px;
}
.slider-form > form > div > button:hover, .slider-form > form > div > button:focus, .slider-form > form > div > button:active {
  color: @slider-form-button-color;
}
@media (max-width: 1366px) {
  .slider-form {
    top: 120px;
    height: 300px;
  }
}
@media (max-width: 1281px) {
  .slider-form {
    top: 120px;
    height: 280px;
  }
}
@media (max-width: 1024px) {
  .slider-form {
    top: 120px;
    right: 20px;
    width: 350px;
    height: 230px;
  }
  .slider_form_header {
    font-size: 18px;
  }
  .slider-form > form {
    padding-top: 0;
  }
  .slider-form > form > div > input {
    margin: 5px auto;
  }
}
@media (max-width: 769px) {
  .slider-form {
    display: none;
  }
}
@media (max-width: 480px) {
  .slider-form {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .slider_form_header {
    font-size: 22px;
  }
}