
.header {
  background: @header-bg;
  height: @header-height;
  color: @header-color;
  line-height: @header-height;
  font-size: @header-font-size;
  overflow: hidden;

}

.header_phone {
  background: url("../img/phone.png") no-repeat;
  width:20px;
  height: 20px;
  background-size: contain;
  padding-left: 40px;
  margin-top: 15px;
  margin-left: 7px;
}
.mobile_phone{
  display: block;
  color: #fff;
}
.header_phone > a,
.header_email > a {
  color: @header-color;
  text-decoration: none;
}
.header_map_marker {
  background: url("../img/map_marker.png") no-repeat;
  background-size: contain;
  padding-left: 20px;
}
.header_email {
  background: url("../img/email.png") no-repeat;
  background-size: contain;
  padding-left: 30px;
}
.header_email > a:hover {
  text-decoration: underline;
}
ul.social-buttons > li {
  padding-top: 10px;
}