


.index-contacts-content {
  background: url("../img/index-contacts/transfer_bg.jpg") no-repeat;
  background-size: cover;
}

.index-contacts-content h1 {
  color: @index-contacts-header1-bg;
  text-align: left;
  font-size: 26px;
}

.index-contacts-content p {
  padding-top: 20px;
  font-size: 24px;
  color: @index-contacts-p-color;
  text-align: right;
}
.index-contacts-content p > span {
  color: #000000;
  font-size: 18px;
}

.index-contacts-content-btn {
  background: @full-width-horizontal-slider-form-button-bg;
  color: @button-text-color;
  font-size: 16px;
  margin: 20px 0;
  text-transform: uppercase;
  padding: 10px 40px;
}
.index-contacts-content-btn:hover {
  color: @button-text-color;
  background: @full-width-horizontal-slider-form-button-bg-hover;
}

.index-contacts-content-list {
  padding-top: 20px;
  list-style: none;
  padding-left: 0;
  color: @index-contacts-list-text-color;
  padding-bottom: 40px;
}
.index-contacts-content-list > li {
  display: block;
  line-height: 27px;
  font-size: 22px;
  margin-bottom: 10px;
}
.index-contacts-content-list > li > a {
  color: @index-contacts-list-text-color;
  text-decoration: none;
}
.index-contacts-content-list > li > a:hover {
  text-decoration: underline;
}
.index-contacts-content-list > li > .circle {
  display: inline-block;
  height: 27px;
  width: 27px;
  border-radius: 100%;
  background: @index-contacts-list-circle-bg;
  position: relative;
  top: 7px;
}
.index-contacts-content-list > li > .circle > span {
  display: block;
  height: 100%;
  width: 100%;
}
.index-contacts-content-list > li > .circle > .address {
  background: url("../img/index-contacts/map.png") no-repeat center;
}
.index-contacts-content-list > li > .circle > .email {
  background: url("../img/index-contacts/email.png") no-repeat center;
}
.index-contacts-content-list > li > .circle > .phone {
  background: url("../img/index-contacts/phone.png") no-repeat center;
}
@media(max-width: 991px){
  .index-contacts-content p{
    text-align: center;
  }
  .index-contacts-content p>span {
    color: #fff;
  }
  .index-contacts-content-btn{
    margin: 20px auto;
    display: block !important;
    max-width: 300px;
  }
  .index-contacts-content{
    padding-bottom: 30px;
  }
}
@media (max-width: 420px) {
  .index-contacts-content p > span {
    color: #ffffff;
  }
}