

.our-service-header {
  background: @our-service-header-bg;
}

.our-service-header h1 {
  color: @colorTitleH1;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
}

.our-service-items {
  background: @our-service-header-bg;
  background-size: cover;
}
.our-service-item {
  background: @our-service-item-bg;
  margin: 20px auto;
  border-radius: 20px;
  padding: 13px 10px;
  height: 100px;
  overflow: hidden;
}
.our-service-item  .icon {
  height: 62px;
  margin: 0 auto;
  width: 62px;
  background: #bfa9e3;
  border-radius: 100%;
  box-shadow: 3px 4px 0px #000000;
  text-align: center;
}
.our-service-item .icon > img {
  margin: 0 auto;
  max-height: 51px;
  padding-top: 13px;
}
.our-service-item .title {
  color: @our-service-item-header-color;
  font-size: 18px;
  text-transform: uppercase;
}
.our-service-item  .description {
  color: @our-service-item-description-color;
  font-size: 12px;
  max-height: 50px;
  margin-top: 10px;
  overflow: hidden;
}
@media (max-width: 420px) {
  .our-service-item {
    padding: 10px 10px;
  }
  .our-service-item .title {
    font-size: 16px;
  }
  .our-service-item  .description {
    margin-top: 5px;
  }
}