

.reviews-slider h1 {
  color: @reviews-slider-header-color;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.reviews-slider-item {
  margin-right: 20px;
  font-size: 0;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.reviews-slider-item > div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 163px;
  overflow: hidden;
}
.reviews-slider-item > div > div {
  font-size: 14px;
  padding: 0 5px;
}
.reviews-slider-item > div > .number {
  background: #e3e3e3;
  height: 163px;
  width: 175px;
  line-height: 163px;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  border-radius: 20px;
  color: @reviews-slider-item-number-color;
}
.reviews-slider-item > div {
  background: @reviews-slider-item-review-bg;
}
.reviews-slider-item > div > .title {
  color: @reviews-slider-item-title-color;
  font-weight: bold;
  padding: 5px 5px;
}
.reviews-slider-item > div > .review {
  color: @reviews-slider-item-review-color;
  height: 106px;
  overflow: hidden;
}
.reviews-slider-item > div > .date {
  font-style: italic;
  text-align: right;
  color: @reviews-slider-item-date-color;
}
#reviews-slider .slick-dots {
  bottom: -10px;
}
#reviews-slider .slick-dots > li {
  background: #7671a7;
}
#reviews-slider .slick-dots > li >button {
  background: transparent;
}
#reviews-slider .slick-dots > li.slick-active {
  background: transparent;
  border: 1px solid #7671a7;
}
@media (max-width: 480px) {
  .reviews-slider-item {
    margin-right: 0;
  }
}