

.room-page h1 {
  text-align: center;
  color: @room-page-header1-color;
}
.room-page h1.green {
  color: @room-page-text-color-green;
}
.room-page h1.blue {
  color: @room-page-text-color-blue;
  margin: 30px auto;
}
.room-page h1.red {
  color: @room-page-text-color-red;
}
.room-page h4 {
  text-align: center;
  color: @room-page-header4-color;
  font-size: 21px;
  margin: 20px auto 30px;
}

.room-page .header_decorator {
  padding: 20px 0;
}

.room-page-item {
  margin-bottom: 20px;
}
.room-page-item > .title {
  font-size: 24px;
  text-transform: uppercase;
  color: @room-page-title-color;
  padding-bottom: 40px;
}
.room-page-item > .description {
  color: @room-page-description-color;
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 30px;
}
.room-page-item > .price {
  color: @room-page-price-color;
}
.room-page-item > .price > label {
  font-weight: normal;
  display: inline-block;
  min-width: 300px;
  font-size: 16px;
}
.room-page-item > .price > span {
  font-weight: bold;
  font-size: 20px;
}
.room-page-item > .price > span > span {
  font-size: 16px;
  text-transform: capitalize;
}
.room-page-services {
  margin-bottom: 30px;
}
.room-page-services > div > div {
  text-transform: uppercase;
}
.room-page-services > div > div > span {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  color: @room-page-services-color;
  position: relative;
  top: 15px;
  margin-right: 10px;
}
.room-page-services > div > div > span.bed {
  background: url("../img/rooms/bed.png") no-repeat ;
}
.room-page-services > div > div > span.wifi {
  background: url("../img/rooms/wifi.png") no-repeat;
}
.room-page-services > div > div > span.fridge {
  background: url("../img/rooms/fridge.png") no-repeat;
}
.room-page-services > div > div > span.jacusi {
  background: url("../img/rooms/jacusi.png") no-repeat;
}
.room-page-services > div > div > span.jacusi.green {
  background: url("../img/rooms/jacusi.png") no-repeat @room-page-text-color-green center;
}
.room-page-services > div > div > span.jacusi.red {
  background: url("../img/rooms/jacusi.png") no-repeat @room-page-text-color-red center;
}
.room-page-services > div > div > span.jacusi.blue {
  background: url("../img/rooms/jacusi.png") no-repeat @room-page-text-color-blue center;
}
.room-page-services > div > div > span.sattv {
  background: url("../img/rooms/sattv.png") no-repeat;
}
.room-page-services > div > div > span.electrofireplace {
  background: url("../img/rooms/electrofireplace.png") no-repeat;
}
.room-page-services > div > div > span.sauna {
  background: url("../img/rooms/sauna.png") no-repeat;
}
.room-page-services > div > div > span.shower {
  background: url("../img/rooms/shower.png") no-repeat center;
}
.room-page-services > div > div > span.shower.green {
  background: url("../img/rooms/shower.png") no-repeat @room-page-text-color-green center;
}
.room-page-services > div > div > span.shower.blue {
  background: url("../img/rooms/shower.png") no-repeat @room-page-text-color-blue center;
}
.room-page-services > div > div > span.shower.red {
  background: url("../img/rooms/shower.png") no-repeat @room-page-text-color-red center;
}
.room-page-services > div > div > span.fireplace {
  background: url("../img/rooms/fireplace.png") no-repeat;
}
.room-page-services > div > div > span.conditioner {
  background: url("../img/rooms/conditioner.png") no-repeat;
}
.room-page-services > div > div > span.cupboard {
  background: url("../img/rooms/cupboard.png") no-repeat;
}
.room-page-services > div > div > span.mini-bar {
  background: url("../img/rooms/bar.png") no-repeat;
}
.room-page-services > div > div > span.swimming_pool {
  background: url("../img/rooms/swiming_pool.png") no-repeat center;
}
.room-page-services > div > div > span.swimming_pool.green {
  background: url("../img/rooms/swiming_pool.png") no-repeat @room-page-text-color-green center;
}
.room-page-services > div > div > span.swimming_pool.blue {
  background: url("../img/rooms/swiming_pool.png") no-repeat @room-page-text-color-blue center;
}
.room-page-services > div > div > span.swimming_pool.red {
  background: url("../img/rooms/swiming_pool.png") no-repeat @room-page-text-color-red center;
}
.room-page-services > div > div > span.karaoke {
  background: url("../img/rooms/karaoke.png") no-repeat center;
}
.room-page-services > div > div > span.karaoke.green {
  background: url("../img/rooms/karaoke.png") no-repeat @room-page-text-color-green center;
}
.room-page-services > div > div > span.karaoke.red {
  background: url("../img/rooms/karaoke.png") no-repeat @room-page-text-color-red center;
}
.room-page-services > div > div > span.karaoke.blue {
  background: url("../img/rooms/karaoke.png") no-repeat @room-page-text-color-blue center;
}
.room-page-services > div > div > span.massage_chair {
  background: url("../img/rooms/massage_chair.png") no-repeat center;
}
.room-page-services > div > div > span.massage_chair.green {
  background: url("../img/rooms/massage_chair.png") no-repeat @room-page-text-color-green center;
}
.room-page-services > div > div > span.massage_chair.blue {
  background: url("../img/rooms/massage_chair.png") no-repeat @room-page-text-color-blue center;
}
.room-page-services > div > div > span.massage_chair.red {
  background: url("../img/rooms/massage_chair.png") no-repeat @room-page-text-color-red center;
}
.room-page-services > div > div > span.rest_room {
  background: url("../img/rooms/rest_room.png") no-repeat center;
}
.room-page-services > div > div > span.rest_room.green {
  background: url("../img/rooms/rest_room.png") no-repeat @room-page-text-color-green center;
}
.room-page-services > div > div > span.rest_room.blue {
  background: url("../img/rooms/rest_room.png") no-repeat @room-page-text-color-blue center;
}
.room-page-services > div > div > span.rest_room.red {
  background: url("../img/rooms/rest_room.png") no-repeat @room-page-text-color-red center;
}
.room-page-services > div > div > span.towels {
  background: url("../img/rooms/towels.png") no-repeat center;
}
.room-page-services > div > div > span.towels.green {
  background: url("../img/rooms/towels.png") no-repeat @room-page-text-color-green center;
}
.room-page-services > div > div > span.towels.blue {
  background: url("../img/rooms/towels.png") no-repeat @room-page-text-color-blue center;
}
.room-page-services > div > div > span.towels.red {
  background: url("../img/rooms/towels.png") no-repeat @room-page-text-color-red center;
}
.room-page-services > div > div > span.pool.green {
  background: url("../img/rooms/pool.png") no-repeat @room-page-text-color-green center;
}
.room-page-services > div > div > span.pool.blue {
  background: url("../img/rooms/pool.png") no-repeat @room-page-text-color-blue center;
}
.room-page-services > div > div > span.pool.red {
  background: url("../img/rooms/pool.png") no-repeat @room-page-text-color-red center;
}


.room-page-custom-services {
  color: @room-page-services-color;
}

.room-page-booking-btn {
  display: block;
  background: @room-page-btn-booking-bg;
  color: #000000;
  text-transform: uppercase;
  border: 1px solid @room-page-btn-booking-border-color;
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
  margin: 20px auto;
}
.room-page-booking-btn.green {
  border: 1px solid @room-page-text-color-green;
  color: @room-page-text-color-green;
  margin-top: 50px;
}
.room-page-booking-btn.blue {
  border: 1px solid @room-page-text-color-blue;
  color: @room-page-text-color-blue;
}
.room-page-booking-btn.red {
  border: 1px solid @room-page-text-color-red;
  color: @room-page-text-color-red;
}
.room-page-all-numbers-btn {
  display: block;
  background: @room-page-btn-all-numbers-bg;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 0;
  margin-bottom: 40px;
}
.room-page-all-numbers-btn:hover {
  color: #ffffff;
}