
.service_page {
  .img_service {
    margin: 30px auto;
  }
  .img_service_icon {
    margin: 0 auto;
  }
  .row_service {
    .title_pages_min {
      color: @corlorTitle;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;
    }
    .text_service {
      font-size: 13px;
      color: @colorText;
    }
  }
}

.service_page_block_big {
    margin-bottom: 30px;
    padding-top: 30px;
  .service_page_block {
    margin-bottom: 30px;
    .icon {
      height: 62px;
      margin: 0 auto;
      width: 62px;
      background: #bfa9e3;
      border-radius: 100%;
      box-shadow: 3px 4px 0px #000000;
      text-align: center;
      img {
        margin: 0 auto;
        max-height: 51px;
        padding-top: 13px;
      }
    }
    .block_text_service {

      .title {
        font-size: 20px;
        text-transform: uppercase;
        color: @corlorTitle;
      }
      .text_items {
        color: @colorText;
      }
    }
  }
  .img_service_page {
    margin: 0 auto 30px;
  }
}

@media (max-width: 767px) {
  .service_page .img_service_icon {
    margin: 20px auto;
  }

  .service_page {
    text-align: center;
  }
  .service_page_block_big .service_page_block .block_text_service{
    max-width: 400px;
    margin: 20px auto 0;
    text-align: center;
  }
}