

.static-block-with-bg {
  background: url("../img/static-block-with-bg/sauna_bg.jpg") no-repeat;
  background-size: cover;
  text-align: right;
}

.static-block-with-bg h4 {
  color: @static-block-with-bg-h4-color;
  font-size: 46px;
  padding-top: 200px;
  text-align: right;
}
.static-block-with-bg h4 > span {
  font-size: 38px;
}

.static-block-with-bg .static-block-with-bg-button {
  background: @static-block-button-bg;
  color: @static-block-button-color;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
  margin: 20px 0;
  padding: 10px 60px;
}
@media (max-width: 1280px) {
  .static-block-with-bg h4 {
    padding-top: 20px;
  }
}
@media (max-width: 1025px) {
  .static-block-with-bg h4 {
    padding-top: 20px;
    font-size: 24px;
  }
}