
.navbar {
  background: @top-menu-bg;
  border: 0;
  min-height: 55px;
  overflow: hidden;
  margin-bottom: 0 !important;
}
.navbar-brand {
  padding: 7px 0;
}
.navbar-brand > img {
  max-height: 40px;
  margin-right: 10px;
}
.navbar-nav > li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  color: @top-menu-color !important;
}
.navbar-nav > li.active > a {
  font-weight: bold;
  text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: none;
}
.navbar-nav > li > a:hover {
  color: #000000;
}
.navbar-default .navbar-toggle{
  margin-top: 7px;
  margin-right: 15px;
}
.navbar-default {

}
.navbar>.container .navbar-brand{
  padding-top: 5px;
}