<section class="developed-by">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <span class="heart">&hearts;</span> <a href="<?php echo $this->url(['action' => 'login', 'controller' => 'index', 'module' => 'user'], 'default', true);?>">Сайт</a> разработан веб-студией <a href="http://itrocks.ru" target="_blank">ItRocks</a> <?php echo date('Y');?>г.
            </div>
        </div>
    </div>
</section>
<?php if(($this->counters['yandexMetrika'] != '') && ($this->counters['googleAnalytics'] != '')) : ?>
    <div class="footer-analytics">
        <?php if($this->counters['yandexMetrika'] != '') : ?>
            <span class="counter">
                        <?php echo $this->counters['yandexMetrika']; ?>
                    </span>
        <?php endif; ?>
        <?php if($this->counters['googleAnalytics'] != '') : ?>
            <span class="counter">
                        <?php echo $this->counters['googleAnalytics']; ?>
                    </span>
        <?php endif; ?>
    </div>
<?php endif; ?>
