<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-8 col-xs-8">
                <span class="header_phone">
                    <span class="hidden-xs hidden-sm"><?php echo $this->data['phone'];?></span>
                    <a href="tel:<?php echo $this->data['phone'];?>" class="hidden-lg hidden-md"><?php echo $this->data['phone'];?></a>
                </span>
            </div>
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                <span class="header_map_marker">
                    <?php echo $this->data['address'];?>
                </span>
            </div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                <span class="header_email">
                    <a href="mailto:<?php echo $this->data['email'];?>"><?php echo $this->data['email'];?></a>
                </span>
            </div>
            <div class="col-lg-3 col-md-3 col-lg-offset-3 hidden-sm hidden-xs">
                <?php echo $this->action('social-icons', 'index', 'default');?>
            </div>
        </div>
    </div>
</section>