<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="room-list-item">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="image">
                    <a href="room_page.html">
                        <img src="img/rooms/room-image.png" class="img-responsive" />
                        <span>
                                        <div class="person">
                                            <img src="img/person.png" /> 1
                                        </div>
                                        <ul class="room-services">
                                            <li class="bed">Двухместная кровать</li>
                                            <li class="shower">Душ</li>
                                            <li class="wifi">Wi-Fi</li>
                                            <li class="jacusi">Джакузи</li>
                                            <li class="fridge">Холодильник</li>
                                            <li class="fireplace">Камин</li>
                                        </ul>
                                    </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="title">
                    <a href="room_page.html">Название номера</a>
                </div>
                <div class="description">
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому,
                </div>
                <div class="price">
                    Цена за сутки: <span>8000<span>Руб</span></span>
                </div>
                <div class="buttons">
                    <a href="room_page.html" class="btn btn-room-page">Подробнее</a><a href="#" class="btn btn-room-booking">Забронировать</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="room-list-item">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="image">
                    <a href="room_page.html">
                        <img src="img/rooms/room-image.png" class="img-responsive" />
                        <span>
                                        <div class="person">
                                            <img src="img/person.png" /> 1
                                        </div>
                                        <ul class="room-services">
                                            <li class="bed">Двухместная кровать</li>
                                            <li class="shower">Душ</li>
                                            <li class="wifi">Wi-Fi</li>
                                            <li class="jacusi">Джакузи</li>
                                            <li class="fridge">Холодильник</li>
                                            <li class="fireplace">Камин</li>
                                        </ul>
                                    </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="title">
                    <a href="room_page.html">Название номера</a>
                </div>
                <div class="description">
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому,
                </div>
                <div class="price">
                    Цена за сутки: <span>8000<span>Руб</span></span>
                </div>
                <div class="buttons">
                    <a href="room_page.html" class="btn btn-room-page">Подробнее</a><a href="#" class="btn btn-room-booking">Забронировать</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="room-list-item">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="image">
                    <a href="room_page.html">
                        <img src="img/rooms/room-image.png" class="img-responsive" />
                        <span>
                                        <div class="person">
                                            <img src="img/person.png" /> 1
                                        </div>
                                        <ul class="room-services">
                                            <li class="bed">Двухместная кровать</li>
                                            <li class="shower">Душ</li>
                                            <li class="wifi">Wi-Fi</li>
                                            <li class="jacusi">Джакузи</li>
                                            <li class="fridge">Холодильник</li>
                                            <li class="fireplace">Камин</li>
                                        </ul>
                                    </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="title">
                    <a href="room_page.html">Название номера</a>
                </div>
                <div class="description">
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому,
                </div>
                <div class="price">
                    Цена за сутки: <span>8000<span>Руб</span></span>
                </div>
                <div class="buttons">
                    <a href="room_page.html" class="btn btn-room-page">Подробнее</a><a href="#" class="btn btn-room-booking">Забронировать</a>
                </div>
            </div>
        </div>
    </div>
</div>

